body {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}
.box {
    width: 1500px;
    height: 125px;
    background-color: #88c1d0;
}

@media (min-width: 1600px) {
    .box {
        width: calc(23%);
    }
}

@media (min-width: 768px) and (max-width: 1599px) {
    .box {
        width: calc(48%);
    }
}

@media (max-width: 767px) {
    .box {
        width: calc(100%);
        margin-bottom: 10px;
    }
}
